{{>layout/header}}
<div id="posts_list">
    <div class="container col-md-6">
        <a href="/modify" class="btn btn-info">회원정보 수정</a><br><br>
        <a href="/takenLetters" class="btn btn-primary">보낸 쪽지함</a><br><br>
        <a href="/sendLetters" class="btn btn-success">받은 쪽지함</a><br><br>
        <a href="/admin/reportList" class="btn btn-secondary">신고목록</a>
    </div>
</div>
{{>layout/footer}}