{{>layout/header}}
<div id="posts_list">
    <table id="table" class="table table-horizontal">
        <thead id="thead">
        <tr>
            <th>보낸사람</th>
            <th>제목</th>
            <th>날짜</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#letters}}
            <tr>
                <input type="hidden" id="id" value="{{id}}">
                <td>{{sendUsername}}</td>
                <td><a href="/letters/{{id}}/taken">{{title}}</a></td>
                <td>{{createdDate}}</td>
                <td>
                    <button type="button" id="btn-delete-letter" class="btn btn-danger">삭제</button>
                </td>
            </tr>
        {{/letters}}
        </tbody>
    </table>
    {{>posts/posts-page}}
</div>
{{>layout/footer}}