{{>layout/header}}
<div id="posts_list">
    <table id="table" class="table table-horizontal">
        <thead id="thead">
        <tr>
            <th>받은사람</th>
            <th>제목</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#letters}}
            <tr>
                <td>{{takenUsername}}</td>
                <td><a href="/letters/{{id}}/taken">{{title}}</a></td>
                <td>{{createdDate}}</td>
            </tr>
        {{/letters}}
        </tbody>
    </table>
    {{>posts/posts-page}}
</div>
{{>layout/footer}}