{{>layout/header}}

<div id="posts_list">
    <table id="table" class="table table-horizontal">
        <thead id="thead">
        <tr>
            <th>번호</th>
            <th>닉네임</th>
            <th>쪽지보내기</th>
            <th>신고</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#userList}}
            <tr>
                <td>{{id}}</td>
                <td>{{nickname}}</a></td>
                <td><a href="/user/letters/{{id}}">쪽지보내기</a></td>
                <td><a href="/user/report/{{id}}">신고하기</a></td>
                <td>{{createdDate}}</td>
            </tr>
        {{/userList}}
        </tbody>
    </table>
    {{! Page }}
    {{>posts/posts-page}}
</div>
{{>layout/footer}}