{{>layout/header}}
<div id="posts_list">
    <div class="container col-md-6">
        <span class="mx-2">은행 이용이 처음이시라면 계좌를 등록 해보세요! </span>
        &nbsp;
        <br/>
        <a href="/bank/join/bnk" role="button" class="mx-2">부산 은행 가입</a>
        <a href="/bank/join/knb" role="button" class="mx-2">경남 은행 가입</a>
        <a href="/bank/join/ibk" role="button" class="mx-2">기업 은행 가입</a>
    </div>
</div>
{{>layout/footer}}