{{>layout/header}}
<div id="posts_list">
    <div class="container col-md-6">
        <span class="mx-2">첫 은행 계좌 계설을 축하합니다! </span><br/>
        <span class="mx-3">고객님께서 앞으로 이용하길 은행은 {{bank.bankName}}입니다!</span><br/>
        <span class="mx-3">고객님의 계좌번호는 {{bank.account}}이며 10000원을 먼저 입금하였으니 확인해주세요.</span>
        <br/>
        <a href="/bank" class="btn btn-secondary">서비스 이용하기</a>
    </div>
</div>
{{>layout/footer}}