{{>layout/header}}
<div id="posts_list">
    <div class="container col-md-6">
        <span class="mx-2">성공적으로 이체하였습니다! </span><br/>
        <span class="mx-2">현재 잔액은 {{bank.money}}원 입니다!</span><br/>
        <a href="/bank" class="btn btn-secondary">목록</a>으로 돌아가기
        <br/>
    </div>
</div>
{{>layout/footer}}