{{>layout/header}}

<div id="posts_list">
    <table id="table" class="table table-horizontal">
        <thead id="thead">
        <tr>
            <th>은행명</th>
            <th>받는사람</th>
            <th class="col-md-6 text-center">설명</th>
            <th>금액</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#pages}}
            <tr>
                <td>{{toBankName}}</td>
                <td>{{toUsername}}</a></td>
                <td class="col-md-6 text-center"S>{{explanation}}</td>
                <td>{{money}}</td>
                <td>{{createdDate}}</td>
            </tr>
        {{/pages}}
        </tbody>
    </table>
    {{! Page }}
    {{>posts/posts-page}}
</div>
{{>layout/footer}}